.btn {
    cursor: pointer !important;
}

input,
select,
textarea {
    border: 0;
    border-bottom: 1px solid #DEE2E6 !important;
    outline: 0;
}

.total-bg {
    background-color: rgba(248, 249, 250, 1);
    min-height: calc(100vh - 90px);
    padding-top: 125px;
}

.or-div {
    position: relative;
}

.text-divider {
    margin: 2em 0;
    line-height: 0;
    text-align: center;
}

.text-divider span {
    background-color: #fff;
    padding: 1em;
}

.text-divider:before {
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #f7f7f7;
}

.stage {
    border: 1px solid #AFE1AF !important;
    font-weight: 700;
}

.stage-primary {
    background-color: #AFE1AF !important;
    border: #AFE1AF;
}

.tab {
    border: 1px solid #9BCFF5 !important;
    font-weight: 700;
    transition: 0.2s;
}

.tab-primary {
    background-color: #9BCFF5 !important;
}

.tab:hover {
    background-color: #9BCFF5;
}

.tab-content {
    display: none;
}

.tab-content.tab-active {
    display: block;
}

.save-btn {
    display: none;
    background-color: #1FE1AF;
}

.cancel-btn {
    display: none;
}

.nrml-inp {
    display: none;
}

.nrml-inp {
    border: none;
    border-bottom: 1px solid black;
    outline: 0 !important;
}

.contact-add {
    display: none;
}

.tech-add {
    display: none;
}

.shipment-add {
    display: none;
}

.tech-part-add {
    display: none;
}

.closeout-note-add {
    display: none;
}

.schedule-add {
    display: none;
}

#moreTechCont {
    display: none;
}

.file-preview {
    display: inline-block;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    width: 120px;
    position: relative;
    /* To position the delete button */
}

.preview-img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 5px;
}

.preview-pdf,
.preview-file {
    font-size: 50px;
    color: gray;
    margin-bottom: 5px;
}

.file-name {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    word-wrap: break-word;
    text-align: center;
}

.delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 18px;
    color: red;
    cursor: pointer;
}

.delete-btn:hover {
    color: darkred;
}

.invisible {
    display: none;
}

.bg-secondary {
    border: 1px solid #6c757d !important;
}

.select2-container {
    display: none;
}

.select2-selection {
    border: 0 !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #aaa !important;
}

.jodit-container {
    display: none;
}


.wo-tab-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #F0F0F0;
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.wo-tab-indicator {
    position: absolute;
    height: 100%;
    width: 70px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.wo-tab {
    min-width: 70px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    z-index: 1;
}

.wo-tab.active {
    color: black;
}

.wo-tab.inactive {
    color: #555;
}

.editablePoint {
    display: none;
    transition: 0.3s;
}

.editableDiv:hover .editablePoint {
    display: flex;
}

.history-scope p {
    display: none;
}

.history-scope p:first-child {
    display: inline !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tooltip-custom {
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(20px);
}

.tooltip-trig:hover .tooltip-custom {
    z-index: 9999;
    overflow: unset !important;
    opacity: 1;
    transform: translateY(0);
}

.sticky-sidebar {
    position: relative;
    transition: padding-top 0.3s ease-in-out;
}

.sticky-sidebar.sticky {
    transition: 0.3s ease-in-out;
    position: sticky;
    top: 0;
    padding-top: 130px !important;
    padding: 10px;
    z-index: 1;
}